/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: whitesmoke;
  height: 50px;
  margin-top: 10px;
  border-radius: 10px;
  align-items: center;
  padding-right: 5px;
  padding-left: 5px;
}

.navbar-menu {
  display: flex;
  gap: 10px;
}

.navbar-menu-items {
  padding: 4px 8px;
}
.navbar-menu-items:hover {
  cursor: pointer;
}
